@import "colour";

.footer{
    width: 100%;
    background-color:$lightdark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3rem;
    color: white;
//    background-size: cover;


    .description{
        margin-left:1rem;
        svg{
            font-size: 3rem;
            color:white;
        }



    

    }
    .contact{
        margin-right: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >h4{
            font-weight: 700;
         
        }
        >p{
            padding-top: 2px;
        }
       
        
        >div{
            padding-top: 1rem;
           
            a{
           padding:0 2px;
                font-size: 1.8rem;
                color: white;
            }
        }
    }
   
}

@media screen and (max-width:600px) {
    .footer{
      
      width: 100%;
      flex-direction: column;
        align-items: center;
       .contact{
        margin-right: 0;
       }
        .description{
            margin-left: 0;
            padding:4px;
          >h1{
            display: flex;
            justify-content: center;
          }
      
          .img{
            display: flex;
            justify-content: center;
          }
        }

    }

    
}

