@import 'colour';

.menucard{
    background-color: white;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);




    >div{

        border-radius:20px 20px 0 0;
        background-color:$red;
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 2rem;
        color: white;
        width: 100%;

    }
    >main{
        
        // background-color: black;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >img{
            // border:2px solid red;
            height: 15rem;
            width:100%;
            object-fit: cover;
        }
        >h5{
            font-size:1.5rem;
        }
        >p{
            letter-spacing: 2px;
        text-transform: uppercase;
        padding: 1rem 0;
        }
        >button{
            width: 100%;
            background-color:$red;
            padding: 1rem 2rem;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            

            &:hover{
                background-color:$reddark;
            }

        }
    }
}
@media screen and (max-width:600px) {
    .menucard{
        width:100%;
        margin: 1rem 0;
      
    }
    
}